apiVersion: v1
kind: Service
metadata:
  name: udagram-frontend
spec:
  selector:
    app: udagram-microservices-frontend
  ports:
    - name: udagram-frontend
      port: 8100
      targetPort: 80
  type: LoadBalancer